<div class="col-md-8">
<h1>Mentions</h1>

<p><%= @error %></p>

<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:q, "Search again?") %>
  <br>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<br> <br>

<% if @sorted_mc.length != 0 %>
<table>
	<th>
		<tr>
			<td>Username</td>
			<td>Count</td>
		</tr>
	</th>
<% @sorted_mc.each do |mc, count| %>
	<tr>
		<td><%= mc %></td>
		<td><%= count %></td>
	</tr>
	<% end %>
	</table>
	<br>
<% end %>
<% end %>
</div>
