<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user_mention.username %>
</p>

<p>
  <strong>Mentions:</strong>
  <%= @user_mention.mentions %>
</p>

<%= link_to 'Edit', edit_user_mention_path(@user_mention) %> |
<%= link_to 'Back', user_mentions_path %>
